* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main {
  padding: 1rem;
}

.header {
  position: static !important;
  padding: 1rem;
  background-color: #393e46 !important;
}

.header_logo a {
  margin-left: 1.5rem;
  font-family: fantasy;
  color: #fff;
  text-decoration: none !important;
  letter-spacing: 0.3rem;
}

.header_logo img {
  width: 3rem;
}

.header .toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.header .toolbar .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.header .toolbar .profile_avatar {
  background: #01b6e4;
  margin-right: 1rem;
}

.header .toolbar .profile_name {
  margin-right: 1rem;
}

.header .toolbar .profile_logout_btn, .header .toolbar .profile_signin_btn {
  color: #fff;
  background: #db0037;
}

.header .toolbar .profile_signin_btn {
  background-color: #00c9b8;
}

.form, .parent .auth_form {
  margin-bottom: 1.5rem;
  background: #393e46;
  border-radius: 6px;
  text-align: center;
  padding: 1rem;
}

.form h3, .parent .auth_form h3 {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.form input, .parent .auth_form input,
.form textarea,
.parent .auth_form textarea {
  font-size: 1rem;
  color: #fff;
  width: 100%;
  padding: 0.9rem 1rem;
  margin-bottom: 0.7rem;
  border: none;
  background-color: #222831;
  border-radius: 6px;
}

.form input:focus, .parent .auth_form input:focus,
.form textarea:focus,
.parent .auth_form textarea:focus {
  outline: none;
}

.form input::-webkit-input-placeholder, .parent .auth_form input::-webkit-input-placeholder,
.form textarea::-webkit-input-placeholder,
.parent .auth_form textarea::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.5;
}

.form input:-ms-input-placeholder, .parent .auth_form input:-ms-input-placeholder,
.form textarea:-ms-input-placeholder,
.parent .auth_form textarea:-ms-input-placeholder {
  color: #fff;
  opacity: 0.5;
}

.form input::-ms-input-placeholder, .parent .auth_form input::-ms-input-placeholder,
.form textarea::-ms-input-placeholder,
.parent .auth_form textarea::-ms-input-placeholder {
  color: #fff;
  opacity: 0.5;
}

.form input::placeholder, .parent .auth_form input::placeholder,
.form textarea::placeholder,
.parent .auth_form textarea::placeholder {
  color: #fff;
  opacity: 0.5;
}

.form input[type="file"], .parent .auth_form input[type="file"] {
  cursor: pointer;
  background: transparent;
  border: none;
}

.form input[type="file"]:focus, .parent .auth_form input[type="file"]:focus {
  border: none;
  outline: none;
}

.form button, .parent .auth_form button {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 0.3rem 1.2rem;
  border: none;
  font-size: 1rem;
  color: #fff;
  border-radius: 6px;
}

.form button.btn-1, .parent .auth_form button.btn-1 {
  background-color: #00c9b8;
  margin-bottom: 0.5rem;
}

.form button.btn-1:hover, .parent .auth_form button.btn-1:hover {
  background-color: #05b4a6;
}

.form button.btn-2, .parent .auth_form button.btn-2 {
  background-color: #db0037;
}

.form button.btn-2:hover, .parent .auth_form button.btn-2:hover {
  background-color: #bb0533;
}

.form .btn, .parent .auth_form .btn {
  color: white;
  margin: 1rem auto 1rem;
  width: 90%;
  background-color: #00c9b8;
}

.searches {
  text-align: center;
  border-radius: 6px;
  padding: 1rem;
  background-color: #393e46;
  margin-bottom: 1rem;
}

.searches h3 {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.searches .search, .searches .search-chip {
  font-size: 1rem;
  color: #fff !important;
  width: 100%;
  padding: 0.9rem 1rem;
  margin-bottom: 0.7rem;
  border: none;
  background-color: #222831;
  border-radius: 6px;
}

.searches .search:focus, .searches .search-chip:focus {
  outline: none;
}

.searches .search::-webkit-input-placeholder, .searches .search-chip::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.5;
}

.searches .search:-ms-input-placeholder, .searches .search-chip:-ms-input-placeholder {
  color: #fff;
  opacity: 0.5;
}

.searches .search::-ms-input-placeholder, .searches .search-chip::-ms-input-placeholder {
  color: #fff;
  opacity: 0.5;
}

.searches .search::placeholder, .searches .search-chip::placeholder {
  color: #fff;
  opacity: 0.5;
}

.searches .search-chip {
  padding: 0.3rem 1rem;
}

.searches .search-chip .MuiChip-clickable {
  margin-top: 0.3rem;
  background-color: #00c9b8;
  color: white;
}

.searches .search-chip .WAMuiChipInput-underline-14::before {
  display: none;
}

.searches .search-chip .WAMuiChipInput-input-3 {
  color: #fff;
}

.searches .search-chip .WAMuiChipInput-underline-14::after {
  display: none;
}

.searches .search-chip .WAMuiChipInput-input-98 {
  color: #fff;
}

.searches .search-chip .WAMuiChipInput-input-42 {
  color: #fff;
}

.searches .search-chip .WAMuiChipInput-underline-109:after {
  display: none;
}

.searches .search-btn {
  background-color: #00c9b8;
  width: 100%;
}

.searches .search-btn:hover {
  background-color: #05b4a6;
}

.parent {
  margin-top: 1rem;
  width: 100%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.parent .auth_form {
  border: none;
  max-width: 500px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.parent .auth_form .input_flex {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 95%;
}

.parent .auth_form h2 {
  margin-bottom: 2rem;
}

.parent .auth_form input {
  border: 0.5px solid transparent;
  font-size: 1rem;
  color: #fff;
  width: 90%;
  padding: 0.9rem 1rem;
  margin: 0 auto 1rem;
  background-color: #222831;
  border-radius: 6px;
}

.parent .auth_form input:focus {
  border: 0.5px solid #fff;
  outline: none;
}

.parent .auth_form .password_field {
  position: relative;
  width: 100%;
}

.parent .auth_form .password_field .pass_visibilty {
  top: 1.5rem;
  right: 1.3rem;
  position: absolute;
}

.parent .auth_form .btn {
  margin: 0 auto 1rem;
  width: 90%;
  background-color: #00c9b8;
}

.parent .auth_form .google_btn {
  border-radius: 6px !important;
  margin: 0 auto;
  width: 90%;
}

.parent .auth_form .google_btn span {
  margin: 0 auto;
}

.parent .auth_form p {
  cursor: pointer;
  opacity: 0.5;
  margin: 1rem auto;
}

.page {
  border-radius: 6px;
  background-color: #393e46;
  text-align: center;
  padding: 0.5rem !important;
  margin-bottom: 1.5rem;
}

.page_item {
  margin: 0.2rem 0.5rem !important;
  color: #fff !important;
}

.page_item[active] {
  background-color: #db0037 !important;
}

.fact_info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  border-radius: 6px;
  background-color: #393e46;
}

.fact_info p {
  line-height: 1.5rem;
}

.fact_info p.tag {
  color: #00c9b8;
}

.fact_info h2 {
  font-size: 2rem;
  font-weight: 100;
  margin-bottom: 1rem;
}

.fact_info h3 {
  font-weight: 100;
  margin: 1rem 0;
}

.fact_info h5 {
  margin: 1rem 0;
}

.fact_info hr {
  border: none;
  height: 1px;
  background-color: #fff;
}

.fact_info .img_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.fact_info img {
  border-radius: 6px;
  width: 90%;
}

.isLoading {
  margin-top: 2rem;
  background-color: #393e46;
  border-radius: 6px;
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rec_posts {
  width: 100%;
}

.rec_posts .rec_post {
  display: inline-block;
  text-align: left;
  overflow-y: scroll;
  margin: 2rem 1rem 2rem 0;
  border-radius: 6px;
  background-color: #393e46;
  width: 300px;
  height: 400px;
}

.rec_posts .rec_post .img_rec {
  border-radius: 6px 6px 0 0;
  width: 100%;
}

.rec_posts .rec_post .rec_content {
  padding: 1rem;
}

.rec_posts .rec_post .rec_content h2 {
  margin-bottom: 1rem;
}

.rec_posts .rec_post .rec_content h5 {
  margin: 1rem 0;
}

.rec_posts .rec_post .rec_btn {
  display: block;
}

.rec_head {
  margin-top: 2rem;
}

.comment_section {
  margin-top: 0.7rem !important;
}

.comment_section .comments {
  padding: 1rem;
  width: 100%;
  max-height: 150px;
  overflow-y: scroll;
}

.comment_section .comments .comment_heading {
  margin: 0 !important;
  margin-bottom: 1rem !important;
  font-weight: 600 !important;
}

.comment_section .comment_input {
  padding: 1rem;
}

.comment_section .comment_input textarea {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  padding: 0.5rem;
  color: #fff;
  border-radius: 6px;
  border: none;
  background-color: #222831;
  width: 100%;
  height: 100px;
}

.comment_section .comment_input textarea:focus {
  border: none;
  outline: none;
}

.comment_section .comment_input textarea::-webkit-input-placeholder {
  color: #fff;
}

.comment_section .comment_input textarea:-ms-input-placeholder {
  color: #fff;
}

.comment_section .comment_input textarea::-ms-input-placeholder {
  color: #fff;
}

.comment_section .comment_input textarea::placeholder {
  color: #fff;
}

.comment_section .comment_input .comment_btn {
  color: #fff;
  background-color: #00c9b8;
  width: 100%;
}

.comment_section .comment_input .comment_btn:hover {
  background-color: #049b8e;
}

body {
  background-color: #222831;
  color: #eeeeee;
  font-family: sans-serif;
}

@media (max-width: 768px) {
  .fact_info {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .fact_info .img_div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (min-width: 600px) {
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 768px) {
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.card::-webkit-scrollbar, .rec_posts .rec_post::-webkit-scrollbar, .comment_section .comments::-webkit-scrollbar {
  width: 1px;
}

.card::-webkit-scrollbar-thumb, .rec_posts .rec_post::-webkit-scrollbar-thumb, .comment_section .comments::-webkit-scrollbar-thumb {
  background: #00c9b8;
}

.shadow {
  -webkit-box-shadow: 0px 0px 10px 1px rgba(24, 23, 23, 0.384) !important;
          box-shadow: 0px 0px 10px 1px rgba(24, 23, 23, 0.384) !important;
}
