@import "config";
@import "header";
@import "form";
@import "auth";
@import "pagination";
@import "post";
body {
    background-color: $color-1;
    color: $color-4;
    font-family: sans-serif;
}
@media (max-width: 768px) {
    .fact_info {
        grid-template-columns: 1fr;

        .img_div {
            justify-content: center;
        }
    }
    .container {
        flex-direction: column-reverse;
    }
}
@media (min-width: 600px) {
    .container {
        flex-direction: row;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        flex-direction: row;
    }
}
@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }
}

.card {
    &::-webkit-scrollbar {
        width: 1px;
    }
    &::-webkit-scrollbar-thumb {
        background: $color-3;
    }
}
.shadow {
    box-shadow: 0px 0px 10px 1px rgba(24, 23, 23, 0.384) !important;
}
